<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <title>{% block title %}Glance{% endblock %}</title>


    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}"  rel="stylesheet">

    <!-- <link href="{% static 'bootstrap/css/date.css' %}" rel="stylesheet"> -->
<!--     <link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
    <link href="{% static 'css/formstyle.css' %}" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/theme.css' %}"  rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    
    <!-- code to include the highcharts and jQuery libraries goes here -->
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>

    {% block head_block %}
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-light bg-transparent fixed-top">
      <a class="navbar-brand" href="#">Glance</a>
      <button type="button" class="navbar-toggler"
              data-toggle="collapse"
              data-target="#navbar"
              aria-expanded="false"
              aria-controls="navbar"
              aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item active"><a href="/logout" class="nav-link">退出登录</a></li>
        {% else %}
        <li class="nav-item"><a href="/login" class="nav-link">会员登录</a></li>
        <li class="nav-item"><a href="/register" class="nav-link">会员注册</a></li>
        {% endif %}
        <!-- <li class="active"><a href="/_admin">Admin</a></li>s -->
      </ul>
    </div>
    </nav>

    <div class="container theme-showcase" role="main">
    {% block body_block %}

    {% endblock %}
    </div> 

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}" ></script>
    <script src="{% static 'bootstrap/js/date.js' %}" ></script>
    <!-- <script src="{% static 'js/docs.min.js' %}" ></script> -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}" ></script>
    <script src="{% static 'js/vue1.0.13/vue.min.js' %}" ></script>
    <script>Vue.config.delimiters = ['${', '}'];</script>
    {% block script %}
    {% endblock %}

  </body>
