{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Glance{% endblock %}


{% block body_block %}
{% if user.is_authenticated %}
<p>
    <span class="nowrap">欢迎您<b>{{user.serial.name}}</b>, 您的会员号为: </span>
    <span class="nowrap" id="serial"><b>{{user.serial.serial}}</b></span>
</p>

<div class="sub-user-list">
    <h4>次级会员列表</h4>
    <div class="list-group" role="tablist">
       <a onclick="window.location.href=this" data-toggle="list" class="list-group-item list-group-item-text active" role="tab">自有用户订单</a>
       <a  v-for="obj in serialData.serials" href="#${obj.serial}" @click="setSelectedSerial(obj)" data-toggle="list"  class="list-group-item  list-group-item-text " role="tab">${obj.name}的用户订单</a>
    </div>
</div>

<div class="main-content">
    <h4>变更用户</h4>
    <hr>
    <label>用户列表</label>
    <select class="selectpicker" data-live-search="true">
        <option v-for="user in users">${user.name}-${user.belongsTo}</option>
    </select>

    <label>会员列表</label>
    <select class="selectpicker" data-live-search="true">
        <option v-for="manager in sub_manager">${manager.name}-${manager.serial}</option>
    </select>

    <button type="button" class="btn btn-default">变更用户</button>

    <h4>月度汇总</h4>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>月份</th>
                        <th>买家数</th>
                        <th>订单数</th>
                        <th>订单总金额</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="month in monthlyData.months">
                        <td class="left">${monthlyData.months.indexOf(month) + 1}</td>
                        <td>${month.month}</td>
                        <td>${month.num_of_buyers}</td>
                        <td>${month.amount}</td>
                        <td>${month.total}</td>
                        <div v-if="(monthlyData.months.length == 0)">
                        <strong>无月度汇总。</strong>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h4>推荐用户的优宜巧购订单列表</h4>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>优宜巧购订单号</th>
                        <th>买家名</th>
                        <th>订单总金额</th>
                        <th>下单时间</th>
                        <th>完成时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="order in orderData.orders">
                        <td class="left">${orderData.orders.indexOf(order) + 1}</td>
                        <td>${order.order_number}</td>
                        <td>${order.buyer_name}</td>
                        <td>${order.total}</td>
                        <td>${order.order_time}</td>
                        <td>${order.finished_time}</td>
                        <div v-if="(orderData.orders.length == 0)">
                        <strong>暂无优宜巧购订单。</strong>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


{% else %}
<a href="/register/">Register Here</a><br />
<a href="/login/">Login</a><br />
{% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'js/lodash.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}