{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Glance{% endblock %}


{% block body_block %}
{% if user.is_authenticated %}
<p>
    <span class="nowrap">欢迎您，您的会员号为: </span>
    <span class="nowrap" id="serial">{{user.serial.serial}}</span>
</p>

<h4>次级会员列表</h4>
    <ul class="nav nav-tabs" >
       <li class="active"><a data-toggle="tab" onclick="window.location.href=this">自有用户订单</a></li>
       <li v-for="obj in serialData.serials"><a data-toggle="tab" href="#${obj.serial}" @click="setSelectedSerial(obj.serial)">${obj.name}的用户订单</a></li>
    </ul>

<h4>推荐用户的优宜巧购订单列表</h4>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>优宜巧购订单号</th>
                    <th>买家名</th>
                    <th>订单总金额</th>
                    <th>下单时间</th>
                    <th>完成时间</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="order in orderData.orders">
                    <td class="left">${orderData.orders.indexOf(order) + 1}</td>
                    <td>${order.order_number}</td>
                    <td>${order.buyer_name}</td>
                    <td>${order.total}</td>
                    <td>${order.order_time}</td>
                    <td>${order.finished_time}</td>
                    <div v-if="(orderData.orders.length == 0)">
                    <strong>暂无优宜巧购订单。</strong>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
</div> 


{% else %}
<a href="/register/">Register Here</a><br />
<a href="/login/">Login</a><br />
{% endif %}

{% endblock %}

{% block script %}
    <script src="{% static 'js/lodash.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}