{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Glance{% endblock %}


{% block body_block %}
    <body class="text-center">
        <h1 lass="h3 mb-3 font-weight-normal">请登录Glance</h1>
        {{ login_info }}
        <form id="login_form" class="form-signin" method="post" action="/login/">
            {% csrf_token %}
            <!-- <p class="mt-5 mb-3 text-muted" align="left">会员名：</p> -->
            <input id="inputEmail" class="form-control" type="text" name="username" value="" size="50" placeholder="会员名" required autofocus />
            <!-- <p class="mt-5 mb-3 text-muted" align="left">登陆密码：</p> -->
            <input id="inputPassword" class="form-control" type="password" name="password" value="" size="50"  placeholder="登陆密码" required/>
            <br />

            <input class="btn btn-lg btn-primary btn-block" type="submit" value="登录" />
            <p class="mt-5 mb-3 text-muted">&copy; 2016-2018</p>
        </form>
  </body>
{% endblock %}

{% block script %}
    <script src="{% static 'js/lodash.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <!-- Custom styles for this template -->
    <link href="{% static 'bootstrap/css/signin.css' %}" rel="stylesheet">
{% endblock %}
