{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Glance{% endblock %}


{% block body_block %}
 <body class="text-center">
        <h1>注册序列会员</h1>

        {% if registered %}
        <strong>感谢您的注册</strong>
        <a href="/">点击返回首页.</a><br />
        {% else %}
        <form id="login_form" class="form-signin" id="user_form" method="post" action="/register/"
                enctype="multipart/form-data" align="left">
            {% csrf_token %}
            <!-- Display each form. The as_p method wraps each element in a paragraph
                 (<p>) element. This ensures each element appears on a new line,
                 making everything look neater. -->
            {{ user_form.as_p }}
            {{ serial_form.as_p }}

            <input class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="注册" />
        </form>
        {% endif %}
 </body>
{% endblock %}

{% block script %}
    <script src="{% static 'js/lodash.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock %}
